@import 'base.css';
main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
header {
  background: #7ed07f;
  width: 100%;
  text-align: right;
  padding: 1rem;
}
.title,
.login {
  text-align: center;
}
